.DS_Store
Thumbs.db
.env
.env.*
!.env.example

.vscode/
.idea/
*.iml
*.suo

frontend/node_modules/
frontend/.pnpm-store/

frontend/dist/
frontend/build/
frontend/out/

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

frontend/.eslintcache
frontend/.vite/
frontend/.turbo/

backend/**/*.class
backend/**/*.log
backend/target/
backend/build/
backend/out/
backend/.gradle/
backend/.classpath
backend/.project
backend/.settings/
backend/.factorypath

backend/hs_err_pid*
backend/replay_pid*
